<div class="container-fluid">
  <div class="row justify-content-center align-items-center auth-row">
    <div class="card col-md-6">
      <div class="card-title">Signup</div>
      <form action="/auth/signup" method="POST" id="form-container">
        <div class="form-row">
          <div class="form-group col-12">
            <label for="username">Username</label>
            <input class="form-control" id="username" type="text" name="username" placeholder="example">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="password">Password</label>
            <input class="form-control" id="password" type="password" name="password" placeholder="Your password">
          </div>
        </div>

        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <button class="btn my-4" type="submit">Create account</button>

        <p class="account-message">
          Do you already have an account?
          <a href="/auth/login">Login</a>
        </p>
      </form>
    </div>
  </div>
</div>