<div class="container-fluid" id="menu-container">
  <div class="row">
    <p>   
      <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        <img src="images/menu.svg" id="menu-icon" alt="menu">
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body justify-content-start px-0">
        <div class="btn text-left">Administrador</div>
        <div class="btn text-left">Líder</div>
      </div>
    </div>
  </div>
</div>