
<ObjectSpec>
<SpecVersion>16_0_10-142546</SpecVersion>
<Object>
<ObjClsGuid>1db606f2-af09-4cf9-a3b5-b481519d28f6</ObjClsGuid>
<ObjCls>0</ObjCls>
<ObjId>8</ObjId>
<ObjName>Menu</ObjName>
<ObjDesc>Menu</ObjDesc>
<ObjPgmName>Menu</ObjPgmName>
<ObjClsName>Transaction</ObjClsName></Object>
<Result>genreq</Result>
<Warnings></Warnings>
<Errors></Errors>
<Generator>
<GenId>15</GenId>
<GenName>Default (C#)</GenName></Generator>
<FormClass>HTML</FormClass>
<Parameters>
<Parameter>
<IO>in</IO>
<Variable>
<VarId>Mode</VarId>
<VarName>&amp;Mode</VarName></Variable></Parameter>
<Parameter>
<IO>in</IO>
<Variable>
<VarId>Menuxid</VarId>
<VarName>&amp;MenuXid</VarName></Variable></Parameter></Parameters>
<Levels>
<Level>
<LevelType>Trn</LevelType>
<LevelNumber>10</LevelNumber>
<BaseTable>
<Table>
<TableId>10</TableId>
<TableName>Menu</TableName>
<Description>Menu</Description></Table></BaseTable>
<NavigationTree>
<Table>
<TableId>10</TableId>
<TableName>Menu</TableName>
<Description>Menu</Description>
<Updated>Yes</Updated>
<RecordsToRead>many</RecordsToRead>
<KeyAttributes>
<Attribute>
<AttriId>27</AttriId>
<AttriName>MenuXid</AttriName>
<Description>Menu Xid</Description></Attribute></KeyAttributes>
<Tables></Tables></Table></NavigationTree>
<Formulas>
<VerticalFormulas></VerticalFormulas>
<AggSelFormulas></AggSelFormulas></Formulas>
<DynamicLoads></DynamicLoads>
<Rules></Rules>
<AfterAttributeRules></AfterAttributeRules>
<AfterConfirmRules></AfterConfirmRules>
<TablesToUpdate>
<TableToUpdate>
<Table>
<TableId>10</TableId>
<TableName>Menu</TableName>
<Description>Menu</Description></Table>
<TableAction>insert</TableAction>
<AttrisToUpdate>
<Attribute>
<AttriId>28</AttriId>
<AttriName>MenuXDesc</AttriName>
<Description>Menu XDesc</Description></Attribute>
<Attribute>
<AttriId>29</AttriId>
<AttriName>MenuXPosi</AttriName>
<Description>Position</Description></Attribute>
<Attribute>
<AttriId>30</AttriId>
<AttriName>MenXUrl</AttriName>
<Description>Url</Description></Attribute>
<Attribute>
<AttriId>31</AttriId>
<AttriName>MenXEst</AttriName>
<Description>Estado</Description></Attribute>
<Attribute>
<AttriId>43</AttriId>
<AttriName>MenXPadre</AttriName>
<Description>Men XPadre</Description></Attribute></AttrisToUpdate></TableToUpdate>
<TableToUpdate>
<Table>
<TableId>10</TableId>
<TableName>Menu</TableName>
<Description>Menu</Description></Table>
<TableAction>update</TableAction>
<AttrisToUpdate>
<Attribute>
<AttriId>28</AttriId>
<AttriName>MenuXDesc</AttriName>
<Description>Menu XDesc</Description></Attribute>
<Attribute>
<AttriId>29</AttriId>
<AttriName>MenuXPosi</AttriName>
<Description>Position</Description></Attribute>
<Attribute>
<AttriId>30</AttriId>
<AttriName>MenXUrl</AttriName>
<Description>Url</Description></Attribute>
<Attribute>
<AttriId>31</AttriId>
<AttriName>MenXEst</AttriName>
<Description>Estado</Description></Attribute>
<Attribute>
<AttriId>43</AttriId>
<AttriName>MenXPadre</AttriName>
<Description>Men XPadre</Description></Attribute></AttrisToUpdate></TableToUpdate>
<TableToUpdate>
<Table>
<TableId>10</TableId>
<TableName>Menu</TableName>
<Description>Menu</Description></Table>
<TableAction>delete</TableAction>
<AttrisToUpdate></AttrisToUpdate></TableToUpdate></TablesToUpdate>
<AfterInsertRules></AfterInsertRules>
<AfterUpdateRules></AfterUpdateRules>
<AfterDeleteRules></AfterDeleteRules>
<TablesToControlOnDelete></TablesToControlOnDelete>
<Levels></Levels>
<AfterTrnRules></AfterTrnRules>
<AfterLevelRules></AfterLevelRules></Level></Levels>
<Suggests></Suggests></ObjectSpec>