<!DOCTYPE html>
<html lang="en">
<head>
	<title>SGCS Login</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body class= "index">
	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>SGCS Login</h1>
				<p>Login or Registro</p>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Login Local
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Registro Local
				</a>
			</div>
		</div>
	</div>

</body>
</html>